<div class = "content">
    <div class ="left"> 
        <h3> What is a primer?</h3>
        <p> In simplified form, primers are DNA molecules formed by the 
            concatenation of units called nucleotides.
            According to their chemical nature, there are four main types of nucleotides,
            represented by the letters A, T, C and G.
            From a computational point of view, we simplifly the concept of primer by
            summarizing it as a sequence of those letters.
        </p>
    </div>

    <img src="images/craftdna.jpg"/>

    <div class = "right">
        <h3> Why they are useful?</h3>
        <p>
            In molecular biology, a class of proteins called polymerases are frequently used.
            These are responsible for extending nucleotide chains,
            and at the beginning of this elongation they need to use primers.
        </p>
        <p>
            Among these techniques mentioned above, RT-PCR has been frequently mentioned in the media,
            because it is used for the diagnosis of COVID-19 infection, 
            although it also has many other utilities.
        </p>
    </div>
</div>