.content{
    display: flex;
    
}

.left{
    border-radius: 20px;
    background-color:powderblue;
    padding:20px ;
}

.right{
    border-radius: 20px;
    background-color:lightcoral;
    padding:20px ;
}

