
<div class="container">

    <h1>Add a new pair of primers</h1>


    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Name</mat-label>
            <input type="text" matInput formControlName="name" placeholder="Name...">
            <mat-error *ngIf="nameInput.hasError('required') && !nameInput.hasError('required')">
              Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>


        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Forward Sequence</mat-label>
            <input type="text" matInput formControlName="forwardSequence" placeholder="Forward sequence...">
            <mat-error *ngIf="forwardSequenceInput.hasError('required') && !forwardSequenceInput.hasError('required')">
                It is mandatory to indicate a forward sequence
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Reverse sequence</mat-label>
            <input type="text" matInput formControlName="reverseSequence" placeholder="Reverse sequence...">
            <mat-error *ngIf="reverseSequenceInput.hasError('required') && !reverseSequenceInput.hasError('required')">
                It is mandatory to indicate a reverse sequence
            </mat-error>
        </mat-form-field>



        <div>
            <button type="submit" mat-raised-button color="primary" [disabled]="registerForm.invalid">Submit</button>
        </div>

    </form>


    <a routerLink="/primersdatabase">Go back to make your order</a>

</div>
