<p>Please, introduce your name and password</p>
<p>Remember that you will not be able to order unless your institution 
    validate your profile
</p>

<form (ngSubmit)="correctUserPasswordAndStatus()"> 

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="nameInput" name="name">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput [(ngModel)]="passwordInput" name="password">
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary"
    >Submit</button>

</form>

<div *ngIf="checkAcces()">
    <p>Correct log in</p>

        
    <a routerLink="/newprimers" >Design your own primers</a>
        
        
    
    <app-primers-from-database [userId]="userId"></app-primers-from-database>

</div>

