<p>Please, introduce your name and password</p>


<input type="text" placeholder="Name..." [(ngModel)]="nameInput">
<input type="text" placeholder="Password..." [(ngModel)]="passwordInput">
<button type="submit" (ngSubmit)="correctUserAndPassword()">Submit</button>


<div *ngIf="checkAcces()">
    <p>Correct log in</p>

    <ul>
        <li>
            <a routerLink="/primersdatabase">Order primers from the database</a>
        </li>
        <li>
            <a routerLink="/newprimers" >Design your own primers</a>
        </li>
        
    </ul>

</div>

