<p>Please, introduce your name and password</p>
<p>Remember that you will not be able to order unless your institution 
    validate your profile
</p>


<input type="text" placeholder="Name..." [(ngModel)]="nameInput">
<input type="password" placeholder="Password..." [(ngModel)]="passwordInput">
<button type="submit" (click)="correctUserPasswordAndStatus()">Submit</button>

<ul *ngFor="let user from userList">
    <li> {{user}}</li>
</ul>


<div *ngIf="checkAcces()">
    <p>Correct log in</p>

        <li>
            <a routerLink="/newprimers" >Design your own primers</a>
        </li>
        
    <h2>Order primers from the database</h2>
    <app-primers-from-database [userId]="userId"></app-primers-from-database>

</div>

