<p>primers-from-database works!</p>

<div class="container">

    <h1>Add a new pair of primers</h1>


    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">

        
        <div>
            <select formControlName="primersId" *ngFor="let primers from primersList">
                <option value="" invalid>Please select a gene from the list</option>
                <option value={{primers.id}}> {{primers.name}}</option>
            </select> 
        </div>

        <div>
            <select formControlName="concentration">
                <option> Optionally, select a concentration</option>
                <option value=25> 25 nmol </option>
                <option value=100> 100 nmol </option>
                <option value=250> 250 nmol </option>
            </select> 
        </div>

         



        <div>
            <button type="submit" mat-raised-button color="primary" [disabled]="registerForm.invalid">Submit</button>
        </div>

    </form>

</div>

