<p>primers-from-database works!</p>

<div class="container">

    <h1>Add a new pair of primers</h1>


    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">

        
        <div >
            <p> Please select a sequence</p>
            <select formControlName="primersId">
                <option *ngFor="let primers of primersList" value={{primers.id}}> {{primers.name}}</option>
            </select> 
        </div>

        <div>
            <p> Optionally, select a concentration</p>
            <p> The default concentration is 25 nm</p>
            <select formControlName="concentration">
                <option value=25 > 25 nmol </option>
                <option value=100> 100 nmol </option>
                <option value=250> 250 nmol </option>
            </select> 
        </div>


        <div>
            <button type="submit" mat-raised-button color="primary" [disabled]="registerForm.invalid">Submit</button>
        </div>

    </form>

</div>

