

<div class="container">

    <h2>Order primers from the database</h2>

    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">

    <mat-form-field appearance="fill" >
            <mat-label>Select a sequence</mat-label>
            <mat-select formControlName="primersId">
                <mat-option *ngFor="let primers of primersList" value={{primers.id}}> {{primers.name}}</mat-option>
            </mat-select>
    </mat-form-field>


    <mat-form-field appearance="fill">
        <mat-label>Select a concentration </mat-label>
        <mat-select formControlName="concentration">
            <mat-option value=25 > 25 nmol </mat-option>
            <mat-option value=100> 100 nmol </mat-option>
            <mat-option value=250> 250 nmol </mat-option>
        </mat-select>
    </mat-form-field>

        <div>
            <p> The default concentration is 25 nm</p>
        </div>


        <div>
            <button type="submit" mat-raised-button color="primary" [disabled]="registerForm.invalid">Submit</button>
        </div>

    </form>

</div>

