
<mat-form-field appearance="fill">
    <mat-label>Introduce your sequence</mat-label>
    <input matInput [(ngModel)]="sequence">
</mat-form-field>


<button mat-raised-button (click)="calculateCG()" [disabled]="!validSequence()">Calculate CG% </button>
    

<button mat-raised-button (click)="calculateTemperature()" [disabled]="!validSequence()"> Calculate annealing temperature</button>



<mat-card *ngIf="!(percentaje === 0)"> Percentaje of cytosines and guanines = {{percentaje}}</mat-card> 

<mat-card *ngIf="!(temperature === 0)"> Annealing temperature = {{temperature}} ºC </mat-card> 


<div *ngIf="!validSequence()">
    <mat-card> Warning: G, C, T and A are the only valid nucleotides</mat-card>
</div>
