<div class="container">

    <h1>Register a new user</h1>


    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">

        
            <input type="text" matInput placeholder="Name..." formControlName="name">
            <p class="error-msg" *ngIf="nameInput.hasError('required') && (nameInput.touched || nameInput.dirty)">
                Name is <strong>required</strong></p>
            <p class="error-msg" *ngIf="nameInput.hasError('noDigits') && (nameInput.touched || nameInput.dirty)">
                Name can't contains digits</p>
        

        <div>
            <select formControlName="idInstitution">
                <option value="" invalid>Please select an institution</option>
                <option value=001> Standford University </option>
                <option value=005> Harvard University </option>
                <option value=006> Massachusetts Institute of Technology </option>
                <option value=007> Princeton University </option>
                <option value=008> Columbia University </option>
            </select> 
        </div>

        <div>
            <input type="password" placeholder="Password..." formControlName="password">
            <p class="error-msg" *ngIf="passwordInput.invalid && (passwordInput.touched || passwordInput.dirty)">Password should be at least 6 char long</p>
        </div>

        <div>
            <input type="password" placeholder="Password confirmation..." formControlName="passwordConfirmation">
            <p class="error-msg" *ngIf="registerForm.hasError('passwordMatch') && passwordInput.valid && passwordConfirmationInput.touched">Passwords should match</p>
        </div>


        <div>
            <button type="submit" mat-raised-button color="primary" [disabled]="registerForm.invalid">Submit</button>
        </div>

    </form>

</div>