<div class="container">


    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Name</mat-label>
              <input type="text" matInput formControlName="name" placeholder="Name...">
              <mat-error *ngIf="nameInput.hasError('required') && !nameInput.hasError('required')">
                Name is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="nameInput.hasError('noDigits') && (nameInput.touched || nameInput.dirty)">
                Name can't contains digits
              </mat-error>
            </mat-form-field>
          
        <div>
            
            <mat-form-field appearance="fill"  ngDefaultControl>
                <mat-label>Select institution</mat-label>
                <mat-select formControlName="idInstitution" >
                    <mat-option value=001> Standford University </mat-option>
                    <mat-option value=005> Harvard University </mat-option>
                    <mat-option value=006> Massachusetts Institute of Technology </mat-option>
                    <mat-option value=007> Princeton University </mat-option>
                    <mat-option value=008> Columbia University </mat-option>
                </mat-select>
                <mat-error *ngIf="idInstitutionInput.invalid && (idInstitutionInput.touched || idInstitutionInput.dirty)">
                    The institution is required </mat-error>
            </mat-form-field>
            
        </div>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password" placeholder="Password...">
            <mat-error *ngIf="passwordInput.hasError('required') && (passwordInput.touched || passwordInput.dirty)">
                Password is required </mat-error>
            <mat-error *ngIf="passwordInput.hasError('minPasswordLength') && (passwordInput.touched || passwordInput.dirty)">
                Password must have at least six characters </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password confirmation</mat-label>
            <input type="password" matInput formControlName="passwordConfirmation" placeholder="Password confirmation...">
            <mat-error *ngIf="registerForm.hasError('passwordMatch') && passwordInput.valid && passwordConfirmationInput.touched">
                Passwords should match
            </mat-error>
        </mat-form-field>


        <div>
            <button type="submit" mat-raised-button color="primary" [disabled]="registerForm.invalid">Submit</button>
        </div>

    </form>

</div>